html{
    height: 100%;
    width: 100%;
}

body{
    background-color: yellow;
    height: fit-content;
    width: fit-content;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 11%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
    color: black;
    user-select: none;
    /* outline-style: double;
    outline-color: rgb(12, 12, 12);   */
}

.display{
    height: 56px;
    width: 50px;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: xxx-large;
    background-color: white;
    color: black;
    border-style: outset;
    border-color: gray;
}

.buttons{
    display: flex;
    flex-direction: row;

}

.backgroundColors{
    height: 20px;
    width: 40px;
    margin: auto;
    margin-top: 20px;
    padding: 20%;
    opacity: 20%;
    cursor: pointer;
}

div.yellow{
    margin: 5px;
    border: 2px solid rgb(64, 63, 63);
}

div.pink{
    margin: 5px;
    border: 2px solid rgb(64, 63, 63);
}

div.gray{
    margin: 5px;
    border: 2px solid rgb(64, 63, 63);
}

.color{

}
